<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
</head>
<body>
  <!-- internal css -->
  <style type="text/css">
    /* body of footer page*/
    body{
      margin: 2%;
      padding: 0%;
     font-family: 'ZCOOL XiaoWei', serif;
    }
    /* background color of footer*/
    .page-footer{
      background-color: #c9e8c9;
      margin-bottom: 1%;
      border-radius: 1rem;
    }
  </style>
  <!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
        <!-- Grid column -->
        <!--  history from wiki about diu university-->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Daffodil International University</h6>
          <p>Daffodil International University is a private university located in Dhanmondi, Dhaka, Bangladesh. It was established on 24 January 2002 under the Private University Act, 1992. DIU is the first university in Bangladesh to have signed the UN's Commitment to Sustainable Practices of Higher Education Institutions</p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <!-- some useful links of university -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a href="https://daffodilvarsity.edu.bd/">Daffodil International University</a>
          </p>
          <p>
            <a href="https://daffodilvarsity.edu.bd/international/international-contact"> Office of the international affiars DIU </a>
          </p>
          <p>
            <a href="https://dsa.daffodilvarsity.edu.bd/">Diu students affiars</a>
          </p>
          <p>
            <a href="https://cdc.daffodilvarsity.edu.bd/">Diu career development center</a>
          </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <!-- Full address and contacts of the university-->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> 4/2, Sobhanbag, Mirpur Rd, Dhaka 1207</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@daffodilvarsity.edu.bd </p>
          <p>
            <i class="fas fa-phone mr-3"></i> +88 48111639, 48111670, 9128705, 9132634</p>
          <p>
            <i class="fas fa-print mr-3"></i> 88-02-9131947</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Footer links -->
      <hr>
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
          <!--Copyright-->
          <p class="text-center text-md-left">© 2019 Copyright:
              <strong> Daffodil International University</strong><br>
              <strong>Department of Computer Science and University</strong>
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
          <!-- Social buttons -->
          <!-- facebook link of daffodil university -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/daffodilvarsity.edu.bd/">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <!--twitter link of daffodil university-->
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://twitter.com/daffodilvarsity">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <!--google plus link of daffodil university-->
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://plus.google.com/communities/117527353507488410868">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <!--linkedin link of daffodil university-->
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.linkedin.com/school/daffodil-international-university/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->

</body>
</html>