<html lang="en">
<head>
  <title>Navbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="public/stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
</head>
  <body> 
  
  <!-- For navigation bar -->
    <nav class="navbar navbar-expand-lg   navbar-light bg-light">
      <!-- Navbar brand for this it is superchain-->
       <a class="navbar-brand" href="/">Superchain</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      <!-- Items of navigation bar -->  
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- For Admin-->
                <li class="nav-item">
                   <a class="nav-link" href="/users/admin">Admin</a>
                </li>

                <!-- For field -->
                <li class="nav-item">
                   <a class="nav-link" href="/users/field">Field</a>
                </li>

                <!-- For production -->
                <li class="nav-item">
                   <a class="nav-link" href="/users/production">Production</a>
                </li>

                <!-- For quality -->
                <li class="nav-item">
                   <a class="nav-link" href="/users/quality">Quality</a>
                </li>

                <!-- For Transport -->
                <li class="nav-item">
                   <a class="nav-link" href="/users/transport">Transport</a>
                </li>
            </ul>
                
            <ul class="navbar-nav mr-auto">
               <!-- For registration -->
                <li class="nav-item">
                   <a class="nav-link" href="/users/register">Registration</a>
                </li>
                <!-- For logout -->
                <li class="nav-item">
                   <a class="nav-link" href="/users/logout">Logout</a>
                </li>
           </ul>

        <!-- Socail sities links   
          <div class="social-part">
            <!-- Developer's github profile link 
            <a href="https://github.com/Zahid4960"><i class="fa fa-github" aria-hidden="true"></i></a>
            <!-- Developer's linkedin profile link 
            <a href="https://github.com/Zahid4960"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            
            <!-- Developer's facebook profile link 
            <a href="https://github.com/Zahid4960"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <!-- Developer's twitter profile link 
            <a href="https://github.com/Zahid4960"><i class="fa fa-twitter aria-hidden="true"></i></a>
            <!-- Developer's twitter profile link 
            <a href="https://github.com/Zahid4960"><i class="fa fa-instagram" aria-hidden="true"></i></a>
             -->
          </div>
        </div>
      </nav>
</body>
</html>
