    <style type="text/css">
      /*sticky header position*/
        .sticky.is-sticky {
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          z-index: 1000;
          width: 100%;
       }
    /* Minimum height for body*/
       body {
          min-height: auto;
      }
  /* background color of nav and minimum height at the time of scrolling*/
      nav {
        background: #eaebec;
        min-height: 100px;
     }
    </style>
  <!--top header-->
        <header >
            <!--most top info -->
            <div style="height: 50px; background: #f2f9ee"></div>
            <!-- End most top info -->
            <!-- important id's are here which are used at javascript below this html-->
            <nav class="navbar  navbar-expand-lg navbar-light top-navbar" data-toggle="sticky-onscroll">
                <div class="container">
                  <!-- navbar brand area as Superchain-->
                    <a class="navbar-brand" href="/">Superchain</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav pull-right">
                          <!-- for dashboard -->
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard">Dashboard</a>
                            </li>
                          <% if(user.role === "admin") {%>
                            <!-- for admin -->
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Admin</a>
                            </li>
                              <!-- for send -->
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/send">Send</a>
                            </li>
                              <!-- for receive -->
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/receive">Received</a>
                            </li>
                             <!-- for qr code -->
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/qrCode">QR Code</a>
                            </li>
                             <!-- for qr code -->
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/blockchain">Blockchain</a>
                            </li>
                              <!-- for registration -->
                            <li class="nav-item">
                                <a class="nav-link" href="/users/register">Registration</a>
                            </li>
                            <% } %>
                            <% if(user.role === "field") {%>
                            <!-- for field -->
                            <li class="nav-item">
                                <a class="nav-link" href="/field">Field</a>
                            </li>
                               <!-- for issues -->
                            <li class="nav-item">
                                <a class="nav-link" href="/issues">Issues</a>
                            </li>
                            <% } %>
                            <% if(user.role === "production") {%>
                            <!-- for production -->
                            <li class="nav-item">
                                <a class="nav-link" href="/production">Production</a>
                            </li>
                              <!-- for issues -->
                            <li class="nav-item">
                                <a class="nav-link" href="/issues">Issues</a>
                            </li>
                            <% } %>
                            <% if(user.role === "quality") {%>
                            <!-- for quality -->
                            <li class="nav-item">
                                <a class="nav-link" href="/quality">Quality</a>
                            </li>
                              <!-- for issues -->
                            <li class="nav-item">
                                <a class="nav-link" href="/issues">Issues</a>
                            </li>
                            <% } %>
                            <% if(user.role === "transport") {%>
                            <!-- for transport -->
                            <li class="nav-item">
                                <a class="nav-link" href="/transport">Transport</a>
                            </li>
                              <!-- for issues -->
                            <li class="nav-item">
                                <a class="nav-link" href="/issues">Issues</a>
                            </li>
                            <% } %>
                              <!-- for search -->
                            <li class="nav-item">
                                <a class="nav-link" href="/search">Search</a>
                            </li>
                              <!-- for messages -->
                            <li class="nav-item">
                                <a class="nav-link" href="/messages">Messages</a>
                            </li>
                            <!-- for logout -->
                            <li class="nav-item">
                                <a class="btn btn-primary" href="/users/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End top header-->


<!-- Javascript code for sticky navbar -->
        <script type="text/javascript">  
// Sticky navbar
// =========================
            $(document).ready(function () {
                // Custom function which toggles between sticky class (is-sticky)
                var stickyToggle = function (sticky, stickyWrapper, scrollElement) {
                    var stickyHeight = sticky.outerHeight();
                    var stickyTop = stickyWrapper.offset().top;
                    if (scrollElement.scrollTop() >= stickyTop) {
                        stickyWrapper.height(stickyHeight);
                        sticky.addClass("is-sticky");
                    }
                    else {
                        sticky.removeClass("is-sticky");
                        stickyWrapper.height('auto');
                    }
                };
                // Find all data-toggle="sticky-onscroll" elements
                $('[data-toggle="sticky-onscroll"]').each(function () {
                    var sticky = $(this);
                    var stickyWrapper = $('<div>').addClass('sticky-wrapper'); // insert hidden element to maintain actual top offset on page
                    sticky.before(stickyWrapper);
                    sticky.addClass('sticky');
                    // Scroll & resize events
                    $(window).on('scroll.sticky-onscroll resize.sticky-onscroll', function () {
                        stickyToggle(sticky, stickyWrapper, $(this));
                    });
                    // On page load
                    stickyToggle(sticky, stickyWrapper, $(window));
                });
            });
        </script>
 