	<!-- externalHeader link-->
	<div><% include ./partials/externalHeader %></div>
	<br>
  <h1>Developed by</h1>
  <p>
    Zahid hasan
    And Ashraf mahmud rifat
  </p>
	<br>
	<!-- footer link -->
   <div class="container"><% include ./partials/footer %></div>



