<style type="text/css">
  .team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

</style>	

  <!-- externalHeader link-->
	<div><% include ./partials/externalHeader %></div>
	<br>
	<br>
    <!-- Team -->
  <section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
          <h3 class="section-subheading text-muted">Design, Developed & Maintained By</h3>
          <div style="border-bottom: 3px solid red; margin-top: 2%;"></div>
        </div>
      </div>
      <div class="row" style="margin-top: 2%;">
        <div class="col-lg-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="http://localhost:5000/images/zahid.png" alt="zahid">
            <h4>Md. Zahid Hasan</h4>
            <p class="text-muted">Lead Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
                 <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="http://localhost:5000/images/rifat.png" alt="rifat">
            <h4>Ashraf Mahamud Rifat</h4>
            <p class="text-muted">Lead Designer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
               <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">
            <h4> <i>Department of Computer Science & Engineering</i> </h4>
            <h4><i>Faculty of Science & Information Technology</i></h4>
            <h4><i>Daffodil International University</i></h4>
          </p>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
	<!-- footer link -->
   <div class="container"><% include ./partials/footer %></div>



