	<!-- externalHeader link-->
	<div><% include ./partials/internalHeader %></div>
  <!-- jumbotron of blockchain details page  -->
  <div class="jumbotron">
  </div>
	<!-- footer link -->
	<br>
	<br>
   <div class="container"><% include ./partials/footer %></div>

