	<!-- linked internalHeader -->
	<% if(user) {%>
	<div><% include ./partials/internalHeader %></div> 
	<% } %>
	<br>
  <% include ./partials/messages %>
	<!-- jumbotron of dashboard page  -->
	<div class="jumbotron">
  		<h1 class="display-4">Welcome <%= user.name %></h1>
  			<p class="lead">You're loggedin as <%= user.role %> manager and your email is <%= user.email %></p>
	</div>
  <!-- if login as field manager then only can view quality control related data --> 
	<% if(user.role == 'field') {%>
   <% include ./fieldDetails.ejs %>
<% } %>
<!-- if login as production manager then only can view quality control related data --> 
<% if(user.role == 'production') {%>
  <% include ./productionDetails.ejs %>
<% } %>
 <!-- if login as quality manager then only can view quality control related data --> 
<% if(user.role == 'quality') {%>
  <% include ./qualityDetails.ejs %>
<% } %>
<!-- if login as transport manager then only can view quality control related data --> 
<% if(user.role == 'transport') {%>
    <% include ./transportDetails.ejs %>
<% } %>
<% if(user.role == 'admin') {%>
  <% include ./adminDashboard.ejs %>
<% } %>           
	<br>
	<br>
	<!-- linked footer -->
	<div class="container"><% include ./partials/footer %></div>












