<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
</head>
<body>
	<!-- linked internalHeader -->
	<% if(user) {%>
	<div><% include ./partials/internalHeader %></div>
	<% } %>
	<br>
	<!-- jumbotron of dashboard page  -->
	<div class="jumbotron">
  		<h1 class="display-4">Welcome <%= user.name %></h1>
  			<p class="lead">You're loggedin as <%= user.role %> manager and your email is <%= user.email %></p>
	</div>
	<br>
	<br>
	<!-- linked footer -->
	<div><% include ./partials/footer %></div>
</body>
</html>











