<div class="container"><% include ./partials/header2 %></div>
<br>
<br>
<div class="jumbotron">
  <h1 class="display-4">Welcome <%= user.name %></h1>
  <p class="lead">You're loggedin as <%= user.role %> manager and your email is <%= user.email %></p>
</div>