.well
    h4 © Daffodil International University
    h4
    
    h6 Daffodil Tower 
    h6 4/2, Sobhanbag, Mirpur Road, Dhanmondi, Dhaka-1207 br
    h6 E-mail: info@daffodilvarsity.edu.bd br
    h6 Phone: +88 48111639, 48111670, 9128705, 9132634 br
    h6 Fax: 88-02-9131947
