extends layout

block content
  img(src="/images/Background_Image.png" style=" height: 100%; width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;")
  
  br
  br

  .well
    h1 Welcome to Superchain
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  br
  br
  br
  br

  .well
    h4 © Daffodil International University
    h4
    
    h6 Daffodil Tower 
    h6 4/2, Sobhanbag, Mirpur Road, Dhanmondi, Dhaka-1207 br
    h6 E-mail: info@daffodilvarsity.edu.bd br
    h6 Phone: +88 48111639, 48111670, 9128705, 9132634 br
    h6 Fax: 88-02-9131947

 