extends layout

block content
  h1 Welcome to Superchain
  p Here you can find all the products details that are available to our stores. That means the product journey from hand of farmer to our super shop. 
