extends layout
<!-- Login page -->

block content
 h2.page-header Login Page
 p Please login using the form below
 form(method='post', action='/users/login')

 <!-- For selecting role -->
 .form-group
  label Role
   select.form-control(name='role')
    option(value='admin') Admin Manager
    option(value='field') Field Manager
    option(value='production') Production Manager
    option(value='quality') Quality Control Manager
    option(value='transport') Transportation Manager

  <!-- Username required at the time of login -->  
 .form-group
  label Username
  input.form-control(name='username', type='text', placeholder='Enter username')

  <!-- Password required at the time of login -->
  .form-group
  label Password
  input.form-control(name='password', type='password', placeholder='Enter password')

  <!-- If all the previous field passes the validaton then it will be successfully loggedin  on clicking the login button -->
 input.btn.btn-primary(type='submit', name='submit', value='Login')