extends layout
<!-- Registration page -->

block content
 h2.page-header Register
 form(method='post', action='/users/register', enctype='multipart/form-data')
  
  <!-- For selecting role -->
  .form-group
  label Role
   select.form-control(name='role')
    option(value='admin') Admin Manager
    option(value='field') Field Manager
    option(value='production') Production Manager
    option(value='quality') Quality Control Manager
    option(value='transport') Transportation Manager

    <!-- Name required at the time of registration -->
  .form-group
  label Name
  input.form-control(name='name', type='text', placeholder='Enter Name')

  <!-- Email required at the time of registration -->
  .form-group
  label Email
  input.form-control(name='email', type='text', placeholder='Enter email')
  
  <!-- Username required at the time of registration -->
  .form-group
  label Username
  input.form-control(name='username', type='text', placeholder='Enter username')
  
  <!-- Password required at the time of registration -->
  .form-group
  label Password
  input.form-control(name='password', type='password', placeholder='Enter password')
  
  <!-- Confirm password required at the time of registration and if password and confirm password don't match then can't be registar-->
  .form-group
  label Confirm Password
  input.form-control(name='confirm-password', type='password', placeholder='Enter password for confirmation')
  
  <!-- Identity card's front pic  required at the time of registration -->
  .form-group
  label Identity card(Front)
  input.form-control(name='id_front', type='file')

  <!-- Identity card's back pic  required at the time of registration -->
  label Identity card(Back)
  input.form-control(name='id_back', type='file')

  <!-- If all the previous field passes the validaton then it will be successfully registared on clicking the registar button -->
 .form-group 
 input.btn.btn-primary(type='submit', name='submit', value='Registar')